<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    <p>Profile for {{user}}</p>
    <p>{{user.email}}</p>
    <p>{{user.id}}</p>
    <h1>{{profile_bool}}</h1>
    <div>
      <p>{{details.phone}}</p>
      <p>{{details.addhar}}</p>
      <p>{{details.gender}}</p>
      <p>{{details.address}}</p>
    </div>

    {% if profile_bool %}
    <h1>User Details not present</h1>
    <a href="/add_user_details">Add User Details</a>
    {% endif %}
    <a href="/edit_user_details">Update details</a>
    <a href="/logout">Logout</a>
  </body>
</html>
